<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <span">Clients</span>
  </li>
  <li class="breadcrumb-item active">Edit</li>
</ol>

<h2>Update Client</h2>
<hr>

<div class="container">
  <div class="card card-register mx-auto mt-5">
    <div class="card-header">Update Client Info</div>
    <%= render 'form' %>
  </div>
</div>
<br/><br/>
