<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <span>Clients</span>
  </li>
  <li class="breadcrumb-item active">Details</li>
</ol>

<h2><%= @client.company %> Company</h2>
<hr>


<div class="container">

  <div class="card mb-3">
  <div class="card-header">
    <i class="fas fa-table"></i>
    <%= @client.name %> projects
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th class="text-center">Projects</th>
          </tr>
        </thead>
        <tbody>
          <% @client.projects.each do |project| %>
            <tr>
              <td class="text-center">
                <%= show_project_link(policy(project).show?, project) %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>

