<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Delete project</h5>
      <button class="close" type="button" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">Are you sure you want to delete <b><%= @project.name %></b> project?
    </div>
    <div class="modal-footer">
      <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
      <%= link_to "Yes, Delete this project", admin_project_path(@project), method: :delete, remote: true, class: "btn btn-danger" %>
    </div>
  </div>
</div>
