<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <span>Projects</span>
  </li>
  <li class="breadcrumb-item active">Edit</li>
</ol>

<h2>Update Project</h2>
<hr>

<div class="container">
  <div class="card card-register mx-auto mt-5">
    <div class="card-header">Update Project Info</div>
      <%= render 'form' %>
  </div>
</div>
<br/><br/>
