<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <span">Payments</span>
  </li>
  <li class="breadcrumb-item active">Details</li>
</ol>

<h2>Payments Details</h2>
<hr>


<div class="container">
  <div class="card card-register mx-auto mt-5">
    <div class="card-body text-center">
      <p>
        <span class="font-weight-light font-italic"> Amount: </span>
        <span class="font-weight-bold"><%= @payment.amount %></span>
      </p>
      <p>
        <span class="font-weight-light font-italic"> Project: </span>
        <span class="font-weight-bold"><%= @payment.project.name %></span>
      </p>
      <p>
        <span class="font-weight-light font-italic"> Created at: </span>
        <span class="font-weight-bold"><%= @payment.created_at %></span>
      </p>
    </div>
  </div>
</div>

