<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Delete Time Log</h5>
      <button class="close" type="button" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">Are you sure you want to delete your hours for <%= @time_log.date.to_date %>?
    </div>
    <div class="modal-footer">
      <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
      <%= link_to "Yes, Delete These hours", admin_project_time_log_path(@project, @time_log), method: :delete, remote: true, class: "btn btn-danger" %>
    </div>
  </div>
</div>
